* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #E71A23;
    --secondary-color: #104E92;
    --gray-color: #999;
}

html {
    font-size: 10px;
}

body {
    font-family: "Open Sans", sans-serif;
}

.container {
    width: 90%;
    max-width: 980px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 46px;
    background-color: var(--secondary-color);
}

header nav {
    display: block;
    width: 100%;
}

header nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    max-width: 450px;
    height: 100vh;
    background-color: var(--primary-color);

    transition: 0.4s ease;
}

.active {
    left: 0% !important;
}

header nav ul li {
    margin: 10px 5px;
}

header nav ul li a {
    display: block;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    width: 150px;
    text-align: center;
    border-radius: 3px;

    transition: ease 0.3s;
}

header nav ul li a:hover {
    color: white;
    background-color: initial;
    background-color: #be1821;
    border-radius: initial;
    border-bottom: 1px solid white;
}

.menu {
    position: relative;
    z-index: 10;
    width: 24px;
    height: 24px;
    margin-left: auto;
}

.menu div {
    width: 100%;
    height: 3px;
    margin-bottom: 4px;
    background-color: #fff;

    transition-duration: 0.3s;
}

.menu div:nth-child(3) {
    margin-bottom: 0;
}

.menu-clicked div {
    position: relative;
    margin: 0;
}

.menu-clicked div:nth-child(1) {
    transform: rotate(45deg);
    top: 8px;
}

.menu-clicked div:nth-child(2) {
    opacity: 0;
}

.menu-clicked div:nth-child(3) {
    transform: rotate(-45deg);
    bottom: -2px;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../images/banner.jpg');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    padding-left: 10px;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    font-weight: 300;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    max-width: 250px;
    padding-bottom: 10px;
    border-bottom: 5px solid #fff;
    text-shadow: 0px 4px 4px #000000af;
}

h1 strong {
    font-family: "Archivo Black", sans-serif;
    font-size: 4rem;
}

.div-icons {
    display: flex;
    margin: 10px 0;
}

.icon-container {
    color: #fff;
    font-size: 1.6rem;
    font-style: italic;
    margin-right: 20px;
}

.icon {
    display: block;
    font-size: 50px;
    color: #fff;
    margin: 3px 0;
}

.section-one {
    padding: 40px 10px;
    background-color: #f2f2f2;
    text-align: center;
}

.medium-text {
    font-size: 3.5rem;
}

.big-text {
    font-size: 4rem;
}

.small-text {
    font-size: 2.8rem;
}

.section-one h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: var(--gray-color);
}

.h2 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: black;
    margin: 20px 0;
    margin-bottom: 10px;
}

.section-one p {
    font-size: 1.4rem;
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.5;
    color: var(--gray-color);
}

button {
    cursor: pointer;
}

button:hover, button:focus {
    transform: translateY(-5%);
    box-shadow: 0px 3px 8px #00000096;
}

.button-red {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 30px;
    background-color: var(--primary-color);
    border: 0;
    margin: 20px 0;
}

.section-contact {
    display: grid;
    grid-template-columns: minmax(200px,400px);
    grid-template-rows: 400px auto auto 400px;
    row-gap: 10px;
    padding: 30px 0;
    justify-content: center;
}

.section-contact div {
    padding: 0 10px;
}

.section-contact div img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.section-contact div p {
    font-size: 1.4rem;
    margin: 10px 0;
    color: var(--gray-color);
    line-height: 1.5;
}

.section-contact div a {
    text-decoration: none;
    text-shadow: none;
}

.section-contact div a:hover, a:focus {
    text-shadow: 2px 2px 4px #0000007c;
}

.section-contact div h3 {
    font-size: 2.1rem;
    font-weight: bold;
    color: var(--primary-color);
}

.section-service-quality {
    background-image: linear-gradient(to top, #bcb9c0, #d8d6db);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    max-width: 800px;
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.section-service-quality h2 {
    text-align: center;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.section-service-quality hr {
    width: 100%;
    height: 10px;
    margin: 20px 0;
    background-color: var(--primary-color);
}

.section-service-quality p {
    font-size: 1.4rem;
    color: #111;
    line-height: 1.5;
    width: 90%;
}

.section-service-quality div {
    margin: 0 auto;
}

.section-service-quality div img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

@media screen and (min-width:600px) {
    html {
        font-size: 14px;
    }
    .menu {
        display: none;
    }

    header nav ul {
        position: initial;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: initial;
        margin-left: auto;
        background-color: transparent;
    }

    header nav ul li {
        margin: 0;
    }
    
    header nav ul li a {
        width: auto;
        padding: 5px;
        padding-bottom: 10px;
    }

    header nav ul li a:hover, a:focus {
        background-color: transparent;
        text-shadow: 2px 2px 5px black;
        border-radius: initial;
        border-bottom: 1px solid white;
    }

    .banner {
        background-position: top;
    }

    h1 {
        max-width: 400px;
        margin: 0 auto;
    }
    
    .div-icons {
        margin: 10px auto;
    }

    .icon-container {
        text-align: center;
    }

    .icon {
        margin: 0 auto;
    }

    .section-contact div:nth-child(1) {
        grid-area: photo1;
    }
    
    .section-contact div:nth-child(2) {
        grid-area: paragraph;
    }
    
    .section-contact div:nth-child(3) {
        grid-area: contact-div;
    }
    
    .section-contact div:nth-child(4) {
        grid-area: photo2;
    }

    .section-contact {
        justify-content: center;
        grid-template-columns: minmax(200px,400px) minmax(200px,400px);
        grid-template-rows: 1fr 1fr;

        grid-template-areas: "photo1 contact-div"
                             "paragraph photo2";
    }

    .container{
        flex-direction: row;
    }
}